/* Variables ==================================================================*/
		/* EXAMPLE 1 - cssnext */
		:root {
			--mainColor: grey;
		}
		/* EXAMPLE 2 - postcss-simple-vars */
		$blue : #00F;

	h1 {
		background: var(--mainColor);
		color: $blue;
	}

/* Autoprefix - autoprefixer ==================================================*/
	h2 {
		display: flex;
	}

/* NESTING - postcss-nested  ==================================================*/
	h3 {
		font-size: 12px;
		span {
			color: red;
		}
	}

/* Import - Note : "postcss-import" needs to be the first preprocesor  ========*/
@import "partials/background.css";


/*
	Mixins - 
	Note: "postcss-mixins" requirements (postcss-simple-vars & postcss-nested) 
 ==============================================================================*/
	/* Example 1  */
	@define-mixin icon $network, $color: blue {
		.icon.is-$(network) {
			color: $color;
			@mixin-content;
		}
		.icon.is-$(network):hover {
			color: white;
			background: $color;
		}
	}
	
	@mixin icon twitter {
		background: url(twt.png);
	}
	@mixin icon youtube, red {
		background: url(youtube.png);
	}
	/* Example 2 */
	@define-mixin icon $name {
		padding-left: 16px;
		&::after {
			content: "";
			background-url: url(/icons/$(name).png);
		}
	}

	.search {
		@mixin icon search;
	}

/* Properties - "postcss-define-property"  ====================================*/
	/* size : 2 parameter */
	size: $height $width {
		height: $height;
		width: $width;
	}
	/* size : 1 parameter */
	size: $size {
		height: $size;
		width: $size;
	}

	.rectangle {
	  size: 50px 100px;
	}

	.square {
	  size: 50px;
	}

/* Extend - postcss-extend ====================================================*/
	.message {
	  border: 1px solid #ccc;
	  padding: 10px;	
	  color: #333;
	}

	.success {
	  @extend .message;
	  border-color: green;
	}

/* Operators - cssnext ========================================================*/

	article[role="main"] {
	  float: left;
	  width: calc( 600 / 960 * 100%);
	}

	.bar {
		height: calc(50px + 12px);  /* 62px */
		height: calc(50px - 13px);  /* 37px */

	}


/* Functions - postcss-functions ==============================================*/
	h2 {
	/* nextcss - rem fallback to px (if you browser scope cover old browsers). */
		font-size: px_rem(15px);

	}