<!doctype html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<title>PostCss</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/css/master.css">

		<script>
			window.APP = {
				name: 'test',
				js_path: '/assets/js'
			};
		</script>
		<script data-main="/assets/js/app" src="https://cdnjs.cloudflare.com/ajax/libs/require-text/2.0.12/text.min.js"></script>
	</head>
	<body>

		<div class="main-wrap">
			<nav class="">
				<ul>
					<li><a href=""></a></li>
				</ul>
			</nav>

			<main class="main">
				<!-- Content -->
				<%= contents %>
			</main>

	</body>
</html>
